<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_Trackjs>
            <version>1.0.0</version>
        </Webgriffe_Trackjs>
    </modules>
    <global>
        <models>
            <webgriffe_trackjs>
                <class>Webgriffe_Trackjs_Model</class>
                <resourceModel>webgriffe_trackjs_resource</resourceModel>
            </webgriffe_trackjs>
            <webgriffe_trackjs_resource>
                <class>Webgriffe_Trackjs_Model_Resource</class>
            </webgriffe_trackjs_resource>
        </models>
        <blocks>
            <webgriffe_trackjs>
                <class>Webgriffe_Trackjs_Block</class>
            </webgriffe_trackjs>
        </blocks>
        <helpers>
            <webgriffe_trackjs>
                <class>Webgriffe_Trackjs_Helper</class>
            </webgriffe_trackjs>
        </helpers>
        <resources>
            <webgriffe_trackjs_setup>
                <setup>
                    <module>Webgriffe_Trackjs</module>
                </setup>
            </webgriffe_trackjs_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <webgriffe_trackjs>
                    <file>webgriffe_trackjs.xml</file>
                </webgriffe_trackjs>
            </updates>
        </layout>
    </frontend>
    <default>
        <dev>
            <trackjs>
                <enabled>0</enabled>
            </trackjs>
        </dev>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Webgriffe_Trackjs />
            </modules>
        </suite>
    </phpunit>
</config>
